{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="card">
  <img class="card-img-top img-fluid" src="{{destination.pretty_picture.url}}" src="{{destination.pretty_picture.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{destination.name}}</h5>
    <p>{{destination.description}}</p>
    <p class="card-text">{{destination.activities}}</p>
    </div>
    </div>
    
    <a href="{% url 'destination-update' destination.id %}">
        <button>Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
        <button>Delete</button>
    </a>

{% endblock content %}