{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
  {% for destination in destinations %}
  <div class="col-sm-12 col-md-6 col-lg-4">
  <div class="card">
  <img class="card-img-top img-fluid" src="{{destination.pretty_picture.url}}" src="{{destination.pretty_picture.url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{destination.name}}</h5>
    <p class="card-text">{{destination.activities}}</p>
    <a href="{% url 'destination-detail' destination.id %}" class="btn btn-primary">Details</a>
  </div>
  </div>
</div>
 
  {% endfor %}
</div>
{% endblock content %}